@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import './loading.scss';
@import './error.scss';
@import './form.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import './animations.scss';
@import './header.scss';
@import './head-pies.scss';
@import './table.scss';
@import './theme-btn.scss';
@import './footer.scss';

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html,
body {
  height: 100%;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

.page {
  padding-bottom: 20px;
  overflow: hidden;
}

.dark {
  & .page {
    background: rgb(36, 45, 60);
    color: #39b754;
  }

  & .footer {
    background-color: #357527;
    color: #242d3c;
    & a {
      color: #242d3c;
    }
  }
}

.page {
  background: #e7efec;
  color: #212529;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: relative;
}

.main-svg {
  background-color: transparent !important;
}

.bg {
  fill: transparent !important;
}
