@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import './loading.scss';
@import './error.scss';
@import './form.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import './animations.scss';
@import './header.scss';
@import './head-pies.scss';
@import './table.scss';
@import './theme-btn.scss';

* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.page {
  background: #e7efec;
  color: #212529;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  position: relative;
  &.dark {
    background: rgb(36, 45, 60);
    color: #39b754;
  }
}

#root {
}

.main-svg {
  background-color: transparent !important;
}

.bg {
  fill: transparent !important;
}

.report-btn {
  background-color: #73d57f;
  color: #004116;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 6px 12px;
  border: none;
  outline: none;
  &:disabled {
    opacity: 0.5;
  }
}
