.table-container {
  display: flex;
}
.charts {
  &__language-info-th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__row-container {
    border-top: 1px solid #c5cfcbfa;

    @include media-breakpoint-down(sm) {
      line-height: 30px;
    }

    &:hover {
      background-color: #c5cfcbfa;
    }
    &.active {
      cursor: pointer;
    }
  }

  &__language-info {
  }

  &__row {
  }

  &__wrapper {
    position: relative;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    overflow: hidden;
    max-height: 0;

    &.hideRow {
      max-height: 0;
      transition: max-height 1s ease-out;
    }
    &.showRow {
      overflow-x: auto;
      max-height: 1300px;
      transition: max-height 1s ease-in;
    }
  }

  &__pies {
  }
}

.language {
  &__pie {
  }
}

th {
  text-align: left;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid #c5cfcbfa;
  position: relative;
  margin: 0 10px 50px;

  @include media-breakpoint-down(sm) {
    font-size: 8px;
  }
}
.dark {
  & table {
    border: 3px solid #0e7626fa;
  }
  & .charts__row-container {
    border-top: 1px solid #0e7626fa;
    &:hover {
      background-color: rgb(46 111 165 / 70%);
    }
  }
}

thead th:nth-child(1) {
  width: 30%;
}
thead th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3) {
  width: 12.5%;
}

thead th:nth-child(4) {
  width: 12.5%;
}

thead th:nth-child(5) {
  width: 12.5%;
}
thead th:nth-child(6) {
  width: 12.5%;
}
thead th:nth-child(7) {
  width: 10%;

  @include media-breakpoint-down(sm) {
    white-space: normal;
  }
}

th,
td {
  @media (min-width: 992px) {
    padding: 20px;
  }

  padding: 20px 1px 7px 5px;
  @include media-breakpoint-down(sm) {
    padding: 3px 4px 4px;
  }
}

.charts_row td {
  padding: 0;
}

.charts__row td {
  overflow: hidden;
  padding: 0;
}

.charts__pies {
  display: flex;
  padding-top: 20px;

  @media (max-width: 800px) {
    flex-direction: column;
    padding-top: 10px;
  }
}
.language__pie {
  display: flex;
  justify-content: center;
}
.language__bar {
  display: flex;
  justify-content: center;
}

.language {
  &__bar {
    height: 100%;
  }
  &__pie {
    height: 100%;
  }
}
